data_provider:
  root: E:\Tiny-Training\algorithm\dataset\human
  num_classes: 60

run_config:
  # learning rate
  bs256_lr: 0.01
  # optimizer
  optimizer_name: sgd

net_config:
  net_name: mbv2-w0.35